@media (max-width: 850px){
    .card-md{
        width: 100%;
    }

    .navbar{
        display: none;
    }

    .navbar-sm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-left: 0;
        width: 100%;
    }

    .navbar-item-sm{
        color: rgb(145, 145, 145);
        padding: 0 1em;
    }

    .navbar-item-sm a{
        color:rgb(145, 145, 145);
    }

    aside > div{
        width: 100%;
        margin: 0;
    }
    .aside-header{
        border-bottom: 1px solid grey;
        margin: 1em 0;
        width: 100%;
    }
    .aside-list{
        display: none;
    }
}