@media(min-width: 768px){
    #apple-icon-collapsed{
        display: none;
    }

    #search-bar{
        display: none;
    }

    #store-bag-collapsed{
        display: none;
    }

    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
    
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
}

@media(max-width: 767px){
    #apple-icon-expanded{
        display: none;
    }

    #search-expanded{
        display: none;
    }
    
    #store-bag-expanded{
        display: none;
    }
    
}

#search-bar-box{
    padding: 1rem 0;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.container-fluid .navbar-toggler{
    border: none;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgb(190, 190, 190);
}

.nav-button{
    border: none;
    color: rgb(190, 190, 190);
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(256, 256, 256);
}

.nav-button:hover{
    border: none;
    color: rgb(256, 256, 256);
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}